<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find amr_description)/launch/spawn_amr_xacro.launch">
    <arg name="x" value="0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="0.5" />
    <arg name="robot_name" value="amr" />
  </include>

  <node pkg="amr_description" name="amr_tf" type="amr_tf.py"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find amr_description)/rviz/amr_sensors.rviz"/>

</launch>
